<header>
    <menu-principale></menu-principale>
</header>

<main>
    <ng-container *ngIf="!(films.length>0)">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-container>


    <ng-container *ngIf="films.length>0">
        <ul class="row m-2 p-3 pt-0 mt-0">
            <li *ngFor="let film of films" class="col">
                <card class="card" [opzioni]="film"></card>
            </li>
        </ul>

        <div class="float-end me-3">
            <!-- BOTTONE + MODAL PER AGGIUNGERE UNA CATEGORIA -->
            <ng-template #contentAggiungi let-offcanvas>
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvas-basic-title">Aggiungi Film</h4>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="offcanvas.dismiss('Cross click')"></button>
                </div>
                <div class="offcanvas-body">
                    <form>
                        <div class="mb-3">
                            <label for="Film">Film da Aggiungere :</label>
                            <input type="text" name="titolo" placeholder="Titolo" [(ngModel)]="titolo">
                            <input type="text" name="durata" placeholder="Durata" [(ngModel)]="durata">
                            <input type="text" name="regista" placeholder="Regista" [(ngModel)]="regista">
                            <input type="text" name="categoria" placeholder="Categoria" [(ngModel)]="categoria">
                            <input type="text" name="anno" placeholder="Anno" [(ngModel)]="anno">
                            <input type="text" name="trama" placeholder="Trama" [(ngModel)]="trama">
                            <input type="text" name="trailer" placeholder="Trailer" [(ngModel)]="trailer">
                            <input type="text" name="src" placeholder="Src" [(ngModel)]="src">

                        </div>
                    </form>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-dark" (click)="aggiungiFilm()">Aggiungi</button>
                    </div>
                </div>
            </ng-template>
            <button class="btn btn-primary bottAgg" (click)="openEnd(contentAggiungi)">Aggiungi Film</button>



            <!-- BOTTONE + MODAL PER MODIFICARE UNA CATEGORIA -->
            <ng-template #contentModifica let-offcanvas>
                <div class="offcanvas-header">
                    <h4 class="offcanvas-title" id="offcanvas-basic-title">Modifica Film</h4>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="offcanvas.dismiss('Cross click')"></button>
                </div>
                <div class="offcanvas-body">
                    <form>
                        <div class="mb-3">
                            <label for="Film">Film da Modificare :</label>
                            <input type="number" name="idFilm" placeholder="idFilm" [(ngModel)]="idFilm">
                            <input type="text" name="titolo" placeholder="Titolo" [(ngModel)]="titolo">
                            <input type="number" name="durata" placeholder="Durata" [(ngModel)]="durata">
                            <input type="text" name="regista" placeholder="Regista" [(ngModel)]="regista">
                            <input type="text" name="categoria" placeholder="Categoria" [(ngModel)]="categoria">
                            <input type="number" name="anno" placeholder="Anno" [(ngModel)]="anno">
                            <input type="text" name="trama" placeholder="Trama" [(ngModel)]="trama">
                            <input type="text" name="trailer" placeholder="Trailer" [(ngModel)]="trailer">
                            <input type="text" name="src" placeholder="Src" [(ngModel)]="src">

                        </div>
                    </form>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-dark" (click)="modificaFilm()">Modifica</button>
                    </div>
                </div>
            </ng-template>
            <button class="btn btn-primary bottAgg" (click)="openEnd(contentModifica)">Modifica Film</button>
        </div>

        <div class="bottDel">
            <input type="number" class="form-control input" placeholder="id" [(ngModel)]="idFilm">
            <button class="btn btn-primary" type="button" id="button-addon2" (click)="eliminaFilm(idFilm)">Cancella Film</button>
        </div>



    </ng-container>

</main>