<header>
    <menu-principale></menu-principale>
</header>

<main>
    <ng-container *ngIf="!(films.length>0)">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-container>

    <ng-container *ngIf="films.length>0">
        <ul class="row m-2 p-3 pt-0 mt-0">
            <li *ngFor="let film of films" class="col-sm-12 col-md-6 col-lg-4 col-xl-2  p-2">
                <div class="card">
                    <div class="front">
                        <!-- Contenuto frontale della card -->
                        <img src="{{ film.immagine?.src }}" alt="{{ film.immagine?.alt }}" />
                    </div>
                    <div class="back bg-black text-white">
                        <!-- Contenuto posteriore della card -->
                        <div class="card-content">
                            <h5>{{ film.titolo }}</h5>
                            <p>{{ film.testo }}</p>
                            <button routerLink="{{film.bottone?.link}}"
                                class="btn btn-danger">{{film.bottone?.testo}}</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>


        <!-- BOTTONE + MODAL PER AGGIUNGERE UN FILM -->
        <ng-template #contentAggiungi let-offcanvas>
            <div class="offcanvas-header bg-dark">
                <h4 class="offcanvas-title" id="offcanvas-basic-title">Aggiungi Film</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="offcanvas.dismiss('Cross click')"></button>
            </div>
            <div class="offcanvas-body bg-dark">

                <form name="formAgg" (ngSubmit)="aggiungiFilm(formAgg)" #formAgg [formGroup]="reactiveForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="titolo" placeholder="titolo"
                            formControlName="titolo" required>
                        <label for="titolo">Titolo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="regista" placeholder="Regista"
                            formControlName="regista" required>
                        <label for="regista">Regista</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="durata" placeholder="Durata"
                            formControlName="durata" required>
                        <label for="durata">Durata</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="categoria" formControlName="categoria"
                            placeholder="Categoria" required>
                        <label for="categoria">Categoria</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="anno" placeholder="Anno" formControlName="anno"
                            required>
                        <label for="anno">Anno</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="trama" placeholder="Trama" formControlName="trama"
                            required>
                        <label for="trama">Trama</label>
                    </div>

                    <div class="form-floating mb-3 text-white">
                        <input type="file" #fileInput (change)="onChangeInputFile($event)" multiple
                            formControlName="filesDaCaricare"> 

                        <p class="errore" *ngIf="errore!=='' ">{{errore}}</p>
                        <p class="ok" *ngIf="fileOk">file caricati correttamente</p>
                    </div>
                    <div class="row text-white" *ngFor="let file of daCaricare">
                        <div class="col-12">{{file.name}}</div>
                        <div class=" m-2">
                            <button type="button" class="btn btn-outline-dark bottInv" (click)="eliminaFile(file)">Elimina file</button>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-outline-dark bottInv"
                            [disabled]="daCaricare.length<=0 || reactiveForm.errors!==null">Aggiungi</button>
                    </div>

                </form>

              
            </div>
        </ng-template>


        <div class="bottAgg text-end p-3">
            <button class="btn btn-danger bottAgg" (click)="openEnd(contentAggiungi)" *ngIf="auth.isAdmin()">Aggiungi Film</button>
        </div>
    </ng-container>
</main>