<header>
    <menu-principale></menu-principale>
</header>

<main>
    <ng-container *ngIf="!(films.length>0)">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-container>


    <ng-container *ngIf="films.length>0">

        <ul class="row m-2 p-3 pt-0 mt-0">
            <li *ngFor="let film of films" class="col p-2">
                <div class="card">
                    <div class="front">
                        <!-- Contenuto frontale della card -->
                        <img src="{{ film.immagine?.src }}" alt="{{ film.immagine?.alt }}" />

                    </div>
                    <div class="back bg-black text-white">
                        <!-- Contenuto posteriore della card -->
                        <div class="card-content">
                            <h5>{{ film.titolo }}</h5>
                            <p>{{ film.testo }}</p>
                            <button routerLink="{{film.bottone?.link}}"
                                class="btn btn-danger">{{film.bottone?.testo}}</button>

                        </div>
                    </div>
                </div>
            </li>
        </ul>


        <div class="float-end me-3">
            <!-- BOTTONE + MODAL PER AGGIUNGERE UN FILM -->
            <ng-template #contentAggiungi let-offcanvas>
                <div class="offcanvas-header bg-dark">
                    <h4 class="offcanvas-title" id="offcanvas-basic-title">Aggiungi Film</h4>
                    <button type="button" class="btn-close" aria-label="Close"
                        (click)="offcanvas.dismiss('Cross click')"></button>
                </div>
                <div class="offcanvas-body bg-dark">
                    <form>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="titolo" id="floatingInput"
                                placeholder="titolo" [(ngModel)]="titolo">
                            <label for="floatingInput film">Titolo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="regista" id="floatingInput"
                                placeholder="Regista" [(ngModel)]="regista">
                            <label for="floatingInput film">Regista</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="durata" id="floatingInput"
                                placeholder="Durata" [(ngModel)]="durata">
                            <label for="floatingInput film">Durata</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="categoria" id="floatingInput"
                                placeholder="Categoria" [(ngModel)]="categoria">
                            <label for="floatingInput film">Categoria</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="anno" id="floatingInput" placeholder="Anno"
                                [(ngModel)]="anno">
                            <label for="floatingInput film">Anno</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="trama" id="floatingInput" placeholder="Trama"
                                [(ngModel)]="trama">
                            <label for="floatingInput film">Trama</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="trailer" id="floatingInput"
                                placeholder="Trailer" [(ngModel)]="trailer">
                            <label for="floatingInput film">Trailer</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="src" id="floatingInput" placeholder="src"
                                [(ngModel)]="src">
                            <label for="floatingInput film">src</label>
                        </div>
                    </form>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-dark bottInv"
                            (click)="aggiungiFilm()">Aggiungi</button>
                    </div>
                </div>
            </ng-template>
            <button class="btn btn-danger bottAgg" (click)="openEnd(contentAggiungi)">Aggiungi Film</button>

        </div>


        <div class="bottDel">
            <input type="number" class="form-control input" placeholder="id" [(ngModel)]="idFilm">
            <button class="btn btn-danger" type="button" id="button-addon2" (click)="eliminaFilm(idFilm)">Cancella
                Film</button>
        </div>



    </ng-container>

</main>










<!-- BOTTONE + MODAL PER MODIFICARE UN FILM       TOLTO PERCHE RITENUTO INUTILE, LA MODIFICA SU PUò ESEGUIRE DA DENTRO LA PAGINA DI VISUALIZZAZIONE DEL FILM
<ng-template #contentModifica let-offcanvas>
    <div class="offcanvas-header bg-dark">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Modifica Film</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body bg-dark">
        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="idFilm" id="floatingInput" placeholder="ID Film"
                    [(ngModel)]="idFilm">
                <label for="floatingInput film">ID Film</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="titolo" id="floatingInput" placeholder="titolo"
                    [(ngModel)]="titolo">
                <label for="floatingInput film">Titolo</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="regista" id="floatingInput" placeholder="Regista"
                    [(ngModel)]="regista">
                <label for="floatingInput film">Regista</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="durata" id="floatingInput" placeholder="Durata"
                    [(ngModel)]="durata">
                <label for="floatingInput film">Durata</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="categoria" id="floatingInput" placeholder="Categoria"
                    [(ngModel)]="categoria">
                <label for="floatingInput film">Categoria</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="anno" id="floatingInput" placeholder="Anno"
                    [(ngModel)]="anno">
                <label for="floatingInput film">Anno</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="trama" id="floatingInput" placeholder="Trama"
                    [(ngModel)]="trama">
                <label for="floatingInput film">Trama</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="trailer" id="floatingInput" placeholder="Trailer"
                    [(ngModel)]="trailer">
                <label for="floatingInput film">Trailer</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="src" id="floatingInput" placeholder="src"
                    [(ngModel)]="src">
                <label for="floatingInput film">src</label>
            </div>
        </form>
        <div class="text-end">
            <button type="button" class="btn btn-outline-dark bottInv" (click)="modificaFilm()">Modifica</button>
        </div>
    </div>
</ng-template>
<button class="btn btn-primary bottAgg" (click)="openEnd(contentModifica)">Modifica Film</button> -->