<footer class="bg-dark">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-4 ">
                <ul>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 bg-dark"
                            href="#">F.A.Q</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">Privacy</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">Informativa sui cookie</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">Crediti</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 col-md-4">
                <ul>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">F.A.Q</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">link 1</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">link 2</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 col-md-4">
                <ul>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">F.A.Q</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">link 1</a>
                    </li>
                    <li>
                        <a class="link-offset-2 link-offset-3-hover link-underline-opacity-0  link-underline-opacity-75-hover  text-white-50 "
                            href="#">link 2</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="text-white-50 bg-dark">Copyright &copy 2021 - CODE</p>
            </div>
        </div>
    </div>
</footer>