<header>
    <menu-principale></menu-principale>
</header>

<main>

    <!-- CARICA ALL'INFINITO  
        <ng-container *ngIf="!(episodi.length>0)">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-container>-->


    <ng-container *ngIf="card!== undefined">
        <div class="card text-white bg-dark">
            <img [src]="card.src" class="card-img m-0 p-4" alt="film.alt">
            <div class="card-img-overlay">
                <h2 class="card-title mt-5 ms-5">{{card.titolo}}</h2>
                <p class="card-text mt-3 ms-5"><small>SerieTv:{{card.serieTv}}</small></p>
                <p class="card-text mt-3 ms-5"><small>Durata:{{card.durata}}min <br>
                        Anno:{{card.anno}}</small></p>
                <p class="card-text mt-3 ms-5">Trama: {{card.trama}}<br></p>
                <p class="card-text mt-3 ms-5">
                    <small>Stagione: {{card.stagione}}</small><br>
                    <small>Episodio: {{card.datiEp}}</small><br>
                </p>
            </div>
        </div>
    </ng-container>

    <div class="ms-5 mt-2">
        <button (click)="openVideo()" type="button" class="button-1 m-1">Riproduci</button>



        <!-- BOTTONE + MODAL PER MODIFICARE UN episodio -->
        <ng-template #contentModifica let-offcanvas>
            <div class="offcanvas-header bg-dark">
                <h4 class="offcanvas-title" id="offcanvas-basic-title">Modifica SerieTv</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="offcanvas.dismiss('Cross click')"></button>
            </div>
            <div class="offcanvas-body bg-dark">
                <form name="formMod" (ngSubmit)="modificaEpisodio(formMod)" #formMod [formGroup]="reactiveFormMod">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="titoloMod" formControlName="titoloMod"
                            placeholder="Titolo">
                        <label for="titoloMod">Titolo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="durataMod" id="durataMod"
                            placeholder="Durata">
                        <label for="durataMod">Durata</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="serieTvMod" id="serieTvMod"
                            placeholder="Durata">
                        <label for="serieTvMod">SerieTV</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="annoMod" id="annoMod"
                            placeholder="Anno">
                        <label for="annoMod">Anno</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="tramaMod" id="tramaMod"
                            placeholder="Trama">
                        <label for="tramaMod">Trama</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="stagioneMod" id="stagioneMod"
                            placeholder="Regista">
                        <label for="stagioneMod">Stagione</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="episodioMod" id="episodioMod"
                            placeholder="Categoria">
                        <label for="episodioMod">Episodio</label>
                    </div>



                    <div class="form-floating mb-3 text-white">
                        <input type="file" #fileInput (change)="onChangeInputFile($event)" multiple
                            formControlName="filesDaCaricare">

                        <p class="errore" *ngIf="errore!=='' ">{{errore}}</p>
                        <p class="ok" *ngIf="fileOk">file caricati correttamente</p>
                    </div>
                    <div class="row text-white" *ngFor="let file of daCaricare">
                        <div class="col-12">{{file.name}}</div>
                        <div class=" m-2">
                            <button type="button" class="btn btn-outline-dark bottInv"
                                (click)="eliminaFile(file)">Elimina file</button>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-outline-dark bottInv"
                            [disabled]="reactiveFormMod.errors!==null">Modifica</button>
                    </div>
                </form>

            </div>

        </ng-template>
        <button class="button-2  m-1" type="button" (click)="apriModifica(card.idEpisodio)" *ngIf="auth.isAdmin()">Modifica</button>

        <button (click)="eliminaEp()" type="button" class="button-2" *ngIf="auth.isAdmin()">Elimina</button>




    </div>


    <!-- <ng-container *ngIf="elencoEpisodi.length > 0">
        <div class="text-white mt-3 mb-0">
            <hr>
            <h2 class="text-white ms-4 mt-4 ">Episodi</h2>
            <ul class="row p-4 mb-0">
                <li *ngFor="let elencoEpisodio of elencoEpisodi" class=" LiCardEp col-lg-2 g-2">
                    <card class="cardEp" [opzioni]="elencoEpisodio"></card>
                </li>
            </ul>
        </div>
    </ng-container> -->

    <hr class="text-white">
    <ng-container *ngIf="elencoEpisodi.length > 0">
        <div class="text-white mt-3 episodi">
            <h2 class="text-white ms-4 mt-4">Episodi</h2>
            <ul class="row m-0 p-4">
                <li *ngFor="let elencoEpisodio of elencoEpisodi" class="liCardEp col-4 mt-2">
                    <card class="card scheda-nero" [opzioni]="elencoEpisodio"></card>
                </li>
            </ul>
        </div>
    </ng-container>









</main>