main{
    background-color: black;
    margin: 0;
}

.media {
    display: flex;
    align-items: center;
}

.media img {
    align-items: center;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px; 
    margin-left: 35px;
    margin-top: 20px;
}


.content{
    padding-top: 20px;
    padding: 10px;
    margin-left: 25px;
}

.modifica{
   background-color: transparent;
   color:  #ec0c65;
}
.modifica:hover{
    background-color: #ec0c65;
    color: black;
}