<menu-principale></menu-principale>
<main>
    <div class="container ">
        <div class="card bg-dark text-white">
            <div class="card-content ">
                <div class="media">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    <div class="media-content">
                        <h2 class="title is-4">John Smith</h2>
                        <h3 class="subtitle is-6">@johnsmith</h3>
                    </div>
                </div>

                <div class="content text-black">
                    <form>
                        <div class="row m-0 p-0  text-center g-3">
                            <div class="form-floating mb-3 col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Nome</label>
                            </div>
                            <div class="form-floating mb-3 col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Cognome</label>
                            </div>
                        </div>

                        <div class="row m-0 p-0  text-center g-3">
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Data di nascita</label>
                            </div>
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Sesso</label>
                            </div>
                        </div>

                        <div class="row m-0 p-0  text-center g-3">
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Residenza</label>
                            </div>
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Domicilio</label>
                            </div>
                        </div>

                        <div class="row m-0 p-0  text-center g-3">

                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Cittadinanza</label>
                            </div>
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Ragione socialew</label>
                            </div>
                        </div>

                        <div class="row m-0 p-0  text-center g-3">
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Email</label>
                            </div>
                            <div class="form-floating mb-3  col-12 col-xxl-6 col-lg-6 col-md-6 col-sm-3">
                                <input type="text" class="form-control" name="titolo" id="floatingInput"
                                    placeholder="titolo">
                                <label for="floatingInput film">Password</label>
                            </div>
                        </div>


                    </form>


                </div>
            </div>
        </div>
    </div>


</main>