<header>
    <navbar> </navbar>
</header>

<main>
    <section class="backgroun-section opacity-80">

    <div class="d-flex " style="height: 200px;">
        <div class="vr me-3">
        </div>
    </div>



    <div class="card text-center bg-dark text-white opacity-75">
        <div class="card-body">
            <h5 class="card-title">Un mondo di intrattenimento con un semplice click</h5>
            <p class="card-text"> Clicca <a href="javascript:void(0)" title="vai alla pagina d'accesso" [routerLink]="['/accedi']"><span>Accedi</span></a>
                 oppure 
                 <a href="javascript:void(0)" title="Vai alla pagina di Registrazione" [routerLink]="['/registrazione']"> <span>Registrati</span></a> per Entrare!</p>


            <div class="col-4 text-center">
                <a href="javascript:void(0)" title="Vai alla pagina di Registrazione" [routerLink]="['/registrazione']"><button type="submit" class="button-1 mb-3 ">Registrati</button></a>
            </div>


        </div>
    </div>



    <div class="d-flex pe-3 " style="height: 200px;">
        <div class="vr ms-3 ">
        </div>
    </div>
</section>

</main>
