<header>
    <menu-principale></menu-principale>
</header>

<main>
    <ng-container *ngIf="!(seriesTv.length>0)">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-container>


    <ng-container *ngIf="seriesTv.length>0">
        <ul class="row m-2 p-3 pt-0 mt-0">
            <li *ngFor="let serieTv of seriesTv" class="col">
                <card class="card" [opzioni]="serieTv"></card>
            </li>
        </ul>
    </ng-container>


    <!-- <div class="bott">
        <button type="button" class="btn btn-primary bottAgg" (click)="aggiungiFilm()">Aggiungi
            Categoria</button>
        <button type="button" class="btn btn-primary bottMod" (click)="modificaFilm()">Modifica
            Categoria</button>

    </div>

    <div class="bottDel">
        <input type="number" class="form-control input" placeholder="id" [(ngModel)]="idFilm">
        <button class="btn btn-primary" type="button" id="button-addon2"
            (click)="eliminaFilm(idFilm)">cancella film</button>
    </div> -->

</main>
