main{
    background-color: black;
}
.icon {
    width: 15px;
    height: 15px;
    margin-top: 12px;
}

span {
    color: #ec0c65;
    font-size: 1.8em;
}

.button-1 {
    background-color: #ec0c65;
    border-radius: 5px;
    border: none;
    color: white;
    width: 120px;
    height: 38px;

}

.button-1:hover{
    background-color:#ec0c65;
    color: black;
}

.button-2 {
    background-color: #ffc107;
    border-radius: 5px;
    border: none;
    color: black;
    width: 120px;
    height: 38px;
}
.button-2:hover{
    background-color:#ffc107;
    color: rgb(203, 5, 203);
}

.icon-1 {
    width: 15px;
    height: 15px;
    padding-left: 3px;
}

.icon-2,
.icon-3 {
    width: 20px;
    height: 20px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.card-img-overlay {
    background: linear-gradient(to bottom left, transparent, black);
}

.titolo {
    color: white !important;
}
h4, h5{
    color: #ec0c65
}
.bottInv{
    color: #ec0c65;
    border-color: #ec0c65;
}
.bottInv:hover{
    color: white;
}
#floatingInput:hover{
    border-color: #ec0c65;
}


//PER LE CARD DELLA SINGOLA SERIE

.row{
    overflow: hidden;
}

ul{
    list-style: none;
   padding: 0;
   margin: 0;
}
li{

    text-align: left;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

//PER LE CARD  MULTIPLE 
.cardSotto {
    margin: 5px;
    width:100%;
    height: 320px; /* Altezza fissa della card, puoi regolarla in base alle tue esigenze */
    display: flex;
    align-items: stretch; /* I contenuti si estendono per tutta l'altezza della card */
    perspective: 1000px; /* Aggiunge una prospettiva per migliorare l'effetto di rovesciamento */
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.cardSotto:hover {
    transform: rotateY(180deg);
}

.cardSotto .front,
.cardSotto .back {
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
}

.cardSotto .back {
    transform: rotateY(180deg);
}

.cardSotto img {
    width: 100%;
    height: 320px;
    border-radius: 5px;
}

.cardSotto-content {
    padding: 15px;
    text-align: center;
}
.cardSotto img{
    width: 100%;
    height: 100%;
}
//FINE 