main{
    background-color: black;
    margin: 0;
}
.icon {
    width: 15px;
    height: 15px;
    margin-top: 12px;
}

span {
    color: #ec0c65;
    font-size: 1.8em;
}

.button-1 {
    background-color: #ec0c65;
    border-radius: 5px;
    border: none;
    color: white;
    width: 120px;
    height: 38px;
}
.button-1:hover{
    background-color:#ec0c65;
    color: black;
}

.button-2 {
    background-color: #ffc107;
    border-radius: 5px;
    border: none;
    color: black;
    width: 120px;
    height: 38px;
}
.button-2:hover{
    background-color:#ffc107;
    color: rgb(203, 5, 203);
}




.icon-1 {
    width: 15px;
    height: 15px;
    padding-left: 3px;
}
.icon-1:hover {
    color: black;
}


.icon-2,
.icon-3 {
    width: 20px;
    height: 20px;
    padding-left: 3px;
    padding-bottom: 3px;
}



.card-img-overlay {
    background: linear-gradient(to bottom left, transparent, black);
}

h5{
    font-size: 3em;
}
p{
    font-size: 1em;
}



//PER LE CARD

.row{
    overflow: hidden;
}
.cardSotto{
    margin: 10px;
    width: 18rem;
    background-color: rgb(50, 50, 50);
}
ul{
    list-style: none;
   padding: 0;
   margin: 0;
}
li{

    text-align: left;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.trailer{
    padding: 50%;
    width: 50%;
}
